@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  padding: 5%;
  margin: auto;
  background-color: beige;
  font-family: 'PT Serif', serif;
  height: 100vh;
}

span{
  white-space:pre;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1em;
  padding-bottom: none;
}

a {
  font-family: 'Roboto Mono', monospace;
  color:white;
  text-decoration: none;
  font-size: .8em;
}

li > span {
  background-color: black;
  color: white;
}

li>span>a:hover{
  color: yellow;
  cursor:pointer;
}

ul {
  list-style-type:none;
  font-size: 1em;
}

li {
  padding: 2%;
  background-color: white;
}

footer {
  padding: inherit;
  margin:auto;
  width:100%;
}

footer li {
  font-size: 1em;
}

footer  ul{
  font-size:.8em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

footer a{
  font-size: .8em;
}
