@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  padding: 5%;
  margin: auto;
  background-color: beige;
  font-family: 'PT Serif', serif;
  height: 100vh;
}

span{
  white-space:pre;
}

h1 {
  font-size: 1.4em;
  padding: 20px;
}

a {
  font-family: 'Roboto Mono', monospace;
  color: orange;
  text-decoration: none;
  font-size: .8em;
}
