/* CSS file for personal website 'creative diary', part of
  Creative Project
  04/07, Jose D Sanchez Frugone */


@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|IBM+Plex+Mono|Ovo|Tajawal');
/*color and padding/margin for whole page */
body {
  background-color: grey;
  padding: 0px;
  margin: 0px;
  display:flex;
  flex-direction:column;
  align-content:flex-start;
  overflow-y: scroll;
}

body::-webkit-scrollbar{
  width: 5px;
  opacity: .5;
}
body::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  opacity: .5;
}
body::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 10px;
  opacity: .5;
}



.hidden{
  visibility:hidden;
  opacity:0;
}

.visible{
  visibility:visible;
  opacity:1;
}

/* header layout */
header {
  position:relative;
  background-color: white;
  height:10px;
  border-top-color:black;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 3px;
  border-top-width: 0px;
  border-style: solid;
  display:flex;
  padding: .7em;
  justify-content: flex-end;
  transition: all 1s ease;
}

header:hover {
  height:40px;
}

/* website name/logo styling */
#logo {
  text-align: right;
  font-family: "Ovo",serif;
  font-size: 40pt;
  margin: 0;
  color: white;
  padding-left: 0px;
  position: absolute;
  z-index: +1;
  left: 10px;
  bottom: -20px;
  transition: color 1s ease-in-out;
}

#logo:hover {
  color:yellow;
}

header span {
  background-color:black;
  padding-left: 30px;
}

#logo span {
  padding-top: 30px;
}

header a span {
  background-color:#433b47;
}

/* layout for links */
header > div {
  flex-basis: 70%;
  align-self:center;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  padding-right: 20px;
  padding-top:3px;
}

/* link styling */
header a {
  text-decoration:none;
  color: white;
  font-size: .9em;
  font-family: "Tajawal", sans-serif;
  transition: all 1s ease;
}

header a:hover {
  color:yellow;
}

/* end of header styling */

main {
  display:flex;
  flex-flow:column;
  height:100%;
  align-content:flex-end;
  background-color:black;
}


.sections {
  position:relative;
  margin:0px;
  padding:0px;
  display:flex;
  align-items:flex-start;
  border-bottom: black solid 10px;
  transition: all 1s ease;
}

.sections img {
  width:100%;
}



/* styling for text  within article */
/* overlayed text container on image */


.sections > div {
  margin:0;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  overflow:hidden;
  position:absolute;
  top:0px;
  bottom: 0px;
  padding-top: 30px;
}

.sections > div p, h1 {
  color: white;
  font-size: .8em;
  font-family: "IBM Plex Mono", monospace;
  line-height: 16px;
  text-align: left;
  padding: 15px;
  margin:0px;
  height: 15px;
  overflow: hidden;
}

.entries {
  transition: all 1s ease-in-out;
}
.entries:hover{
  height:200px;
}



.sections span {
  background-color:black;
  padding: 0px;
  opacity:.5;
}

h1 {
  padding: 0px;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom:10px;
  font-style: normal;
}

.sections h1 span {
  opacity: 1;
}

.sections span:hover {
  opacity:1;
}


#art2 {
  position:absolute;
}

.author {
  cursor: pointer;
}

/* end of main body styling */

/* footer styling and layout */
footer {
  background-color: black;
  height:auto;
  display:flex;
  justify-content:space-between;
  padding-left: 6px;
  padding-right: 10px;
  align-items:center;
}

footer p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: .6em;
  text-align: right;
  color: 	black;
  margin-top: 8px;
  margin-bottom: 8px;
}

footer span {
  background-color: #f8fb97;
  padding-left: 4px;
  padding-right: 4px;
}

#user {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}
#user input {
  width: 50%;
  font-size: 7pt;
  background-color:#f8fb97;
}
