/* CSS file for personal website, part of
  Creative Project
  04/07, Jose D Sanchez Frugone */


@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|IBM+Plex+Mono|Ovo|Tajawal');
/*color and padding/margin for whole page */
body {
  width: 100%;
  background-color: grey;
  padding: 0px;
  margin: 0px;
  display:flex;
  flex-direction:column;
  align-content:flex-start;
}

.hidden {
  visibility:hidden;
  opacity: 0;
}

.visible {
  visibility:visible;
  opacity:1;
}

/* header layout */
header {
  position:relative;
  background-color: white;
  height:10px;
  border-top-color:black;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 3px;
  border-top-width: 0px;
  border-style: solid;
  display:flex;
  padding: .7em;
  justify-content: flex-end;
  transition: all 1s ease;
}

header:hover {
  height:40px;
}

/* website name/logo styling */
#logo {
  text-align: right;
  font-family: "Ovo",serif;
  font-size: 40pt;
  margin: 0;
  color: white;
  padding-left: 0px;
  position: absolute;
  z-index: +1;
  left: 10px;
  bottom: -20px;
  transition: color 1s ease-in-out;
}

#logo:hover {
  color:yellow;
}

header span {
  background-color:black;
  padding-left: 30px;
}

#logo span {
  padding-top: 50px;
}

header a span {
  background-color:#433b47;
}

/* layout for links */
header > div {
  flex-basis: 70%;
  align-self:center;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  padding-right: 20px;
  padding-top:3px;
}

/* link styling */
header a {
  text-decoration:none;
  color: white;
  font-size: .9em;
  font-family: "Tajawal", sans-serif;
  transition: all 1s ease;
  /*transition: color 1.2s ease-in; */
}


header a:hover {
  color:yellow;

}

/* end of header styling */

main {
  position:relative;
  display: flex;
  flex-flow:column;
  height: 100%;
  align-content:flex-end;
  background-color:black;
}



/* general styling for each article */
/* to note: images where implmented html side instead of
   as background-images to divs in CSS because the div height
   does not change as a function of the background img. By
   having a img within an article we can have the container
   resize responsively */

.sections {
  position:relative;
  margin:0px;
  padding:0px;
  display:flex;
  overflow:hidden;
  align-items:flex-start;
  border-bottom: black solid 10px;
  transition: all 1s ease;
}

.sections a {
  text-decoration:none;
  color:yellow;
}

.sections img {
  width:100%;
}

/* styling for quote within article */
.sections .container {
  position:absolute;
  display:flex;
  flex-direction:row;
  width:100%;
  height:100%;
}


.sections blockquote, p {
  position:relative;
  align-self:center;
  color: white;
  font-size: 1em;
  font-family: "IBM Plex Mono", monospace;
  line-height: 20px;
  text-align: left;
  padding-left: 20px;
  margin: 0;
}

.container > blockquote {
  transition: all 1s ease;
}
.sections span {
  background-color:black;
  padding: 0px;
}

/*  general styling for Author info */

.author{
  color:yellow;
}


.authorInfo {
  position:absolute;
  margin: 0;
  right: 0px;
  top:0px;
  bottom:0px;
  width:100%;
  background: rgba(0,0,0,.5);
  border-style:solid;
  border-width:2px;
  transition: all 1s ease;

}

.authorInfo p {
  text-align: right;
  position:relative;
  padding-right:15px;
  padding-top: 60px;
  align-self:flex-start;
  padding-left:0px;
  font-size: .8em;
  vertical-align:middle;
}

.authorInfo img {
  text-align:center;
  border-radius:50%;
  height:auto;
  width:35%;
  float:left;
  align-self:center;
  margin-left:15px;
  margin-top: 100px;
}

.authorInfo blockquote {
  display:inline-block;
  text-align:center;
  padding-top:50px;
  margin-left:auto;
  margin-right:auto;
}

/* specific article changes */
#art2 {
  position:absolute;
  justify-content:flex-end;
}

#art2 .container {
  justify-content:flex-end;
}

#art2 blockquote {
  text-align: right;
  padding-left:0;
  padding-right: 20px;
}


/* end of body styling */

/* footer styling and layout */
footer {
  background-color: black;
  height:auto;
  display:flex;
  justify-content:space-between;
  padding-left: 6px;
  padding-right: 10px;
  align-items:center;
}

footer p {
  position:relative;
  font-family: "Hind Siliguri", sans-serif;
  font-size: .6em;
  text-align: right;
  color: 	black;
  margin-top: 8px;
  margin-bottom: 8px;
}

footer span {
  background-color: #f8fb97;
  padding-left: 4px;
  padding-right: 4px;
}

#user {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}
#user input {
  width: 50%;
  font-size: 7pt;
  background-color:#f8fb97;
}
