@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|IBM+Plex+Mono|Ovo|Tajawal');

$colors: (
  primary: white,
  secondary: black,
  tertiary: yellow,
  accent: #f8fb97
);

@function color($color-name){
  @return map-get($colors, $color-name)
}

%tight{
  margin: 0px;
  padding: 0px;
}

%cover{
  width: 100%;
  height: 100%;
}

%flex-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
  justify-content:center;
}

%flex-col{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
  justify-content:center;
}

body,
html{
  text-align:center;
  @extend %tight;
  overflow: hidden;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}
.visible{
  visibility: visible;
  opacity: 1;
}

body{
  height: 100vh; width: 100vw;
  @extend %flex-col;
  z-index: -20;
  align-content: flex-start;
}

header{
  @extend %flex-row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  background-color: color(primary);
  height: 15%;
  transition: all 1s ease;
  z-index:500;
  &:hover{
    height:15%;
  }

  span{
    background-color:color(secondary);
    padding-left: 50px;
  }

  #logo{
    position: absolute;
    font-family: "Ovo", serif; font-size: 8vw;
    color: color(primary);
    margin: 0; padding:0;
    z-index: 800;
    left:10px; bottom: -20px;
    transition: color 1s ease-in-out;

    &:hover{
      color:color(tertiary);
    }

    span{
      padding-top: 500px;
    }
  }
  &>div{
    @extend %flex-row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-basis: 80%;
    align-self: center;
    right: 0;
  }

  a{
    margin: 10px;
    text-decoration: none;
    color: color(primary);
    text-align: right;
    font-size: 5vw ;
    font-family: "Tajawal", sans-serif;
    transition: all .5s ease;
    &:hover{
      color:color(accent);
    }
  }
}
main{
  overflow: hidden;
  @extend %flex-col;
  @extend %cover;
  background-color: color(secondary);
  position:relative;
  justify-content: flex-start;
}

.sections{
  @extend %tight;
  position:absolute;
  height: 100%;
  width: 100vw;
  transition: all 1s ease;

  a{
    text-decoration: none;
    color: color(tertiary);
  }

  &>img{
    width:2150px
  }

  span{
    background-color: color(secondary);
  }

  .container{
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 200;
    top: 0;

    blockquote{
      @extend %tight;
      position: absolute;
      color: color(primary);
      font-size: 3vw; font-family: "IBM Plex Mono", monospace;
      text-align: left;
      left: 2.5%; top: 40%;
      transition: all 1s ease;
      z-index: 10;
      .author{
        color: color(tertiary);
      }
    }

    .authorInfo{
      @extend %tight;
      @extend %cover;
      position: absolute; top:0;
      background: rgba(0,0,0,.5);
      transition: all 1s ease;
      p{
        @extend %tight;
        color: color(primary);
        font-family: "IBM Plex Mono", monospace;
        text-align: right;
        position: relative;
        padding-right: 15px;
        font-size: .8em;
        margin-bottom: 15px; margin-top: 10px;
      }

      blockquote{
        margin-top: 20px;
        margin-right: 100px;
        text-align: right;
      }

      img{
        border-radius: 50%;
        width: 32%;
        margin-left: 10px;
        margin-top: 7%;
        float: left;
        z-index: -1;
      }
    }

    #author2{
      padding-top: 11%;
      img{
        width: auto;
        margin-left: 50px;
      }
    }
  }
}

#art2.sections{
  position: absolute;
  blockquote{
    padding-right: 20px; padding-left: 0px;
    right: 0;
  }
}

#art2 blockquote{
  text-align: right;
}

#art2.authorInfo{
  position:relative;
}

footer{
  @extend %flex-row;
  margin-top: auto;
  bottom:0;
  height: 15%;
  z-index: 400;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: color(secondary);
  padding:5%;
  p{
    font-family: "Hind Siliguri", sans-serif;
    font-size: 2.8vw;
    text-align: right;
    color: color(accent);
    align-self: center;
  }

  span{
    background-color: color(secondary);
  }

  #user{
    @extend %flex-col;

    input{
      position: relative;
      left: 40%;
      width: 50%; font-size: 3vw;
      background-color: color(accent);
    }
  }
}
