@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|IBM+Plex+Mono|Ovo|Tajawal');

$colors: (
  primary: white,
  secondary: black,
  tertiary: yellow,
  accent: #f8fb97
);

@function color($color-name){
  @return map-get($colors, $color-name)
}

%tight{
  margin: 0px;
  padding: 0px;
}

%cover{
  width: 100%;
  height: 100%;
}

%flex-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
  justify-content:center;
}

%flex-col{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
  justify-content:center;
}

body,
html{
  text-align:center;
  @extend %tight;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}
.visible{
  visibility: visible;
  opacity: 1;
}

body{
  height: 100vh; width: 100vw;
  @extend %flex-col;
  z-index: -20;
  align-content: flex-start;
}

header{
  @extend %flex-row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  background-color: color(primary);
  height: 15%;
  transition: all 1s ease;
  z-index:500;
  @media only screen and (min-width: 768px){
    height:8%;
    &:hover{
      height:10%;
    }
  }


  span{
    background-color:color(secondary);
    padding-left: 50px;
  }

  #logo{
    position: absolute;
    font-family: "Ovo", serif; font-size: 5vmax;
    color: color(accent);
    margin: 0; padding:0;
    left:10px; bottom: -20px;
    transition: color 1s ease-in-out;


    span{
      padding-top: 500px;
    }
  }
  &>div{
    @extend %flex-row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-self: center;
    right: 0; left:0;
  }



  a{
    z-index:800;
    text-decoration: none;
    color: color(accent);
    text-align: right;
    font-size: 2.5vmax ;
    font-family: "Tajawal", sans-serif;
    transition: all .5s ease;
    @media only screen and (min-width: 768px){
      font-size: 1.2vmax;
    }
    span{
      padding: 0;
    }
  }
}
main{
  overflow: hidden;
  @extend %flex-col;
  @extend %cover;
  background-color: color(secondary);
  position:relative;
  justify-content: flex-start;
}


#art2{
  background-image:url("./pgarden_summer1.jpg");
}
#art1{
  background-image:url("./pgarden_fall1.jpg");
}

.sections{
  @extend %tight;
  height: 75vh;
  width: 100vw;
  transition: all .5s ease;
  background-size:cover;
  @media only screen and (min-width: 768px){
    height: 85vh;
  }


  a{
    text-decoration: none;
    color: color(tertiary);
  }

  &>img{
    visibility:hidden;
    object-fit:cover;
    min-width:1500px;
    @media only screen and (min-width: 768px){
      max-width: 100vw;
    }
  }

  span{
    background-color: color(secondary);
  }

  .container{
    position: absolute;
    width: 100vw;
    height: inherit;
    z-index: 200;
    top: 0;

    blockquote{
      @extend %tight;
      position: absolute;
      color: color(primary);
      font-size: 1.5vmax; font-family: "IBM Plex Mono", monospace;
      text-align: left;
      left: 2.5%; top: 40%;
      transition: all .5s ease;
      z-index: 10;
      @media only screen and (min-width: 768px){
        font-size: 1.2vmax;
      }
      .author{
        color: color(tertiary);
      }
    }

    .authorInfo{
      @extend %tight;
      @extend %cover;
      overflow-y:scroll;
      position: relative; top:0;
      background: rgba(0,0,0,.5);
      transition: all 1s ease;
      p{
        @extend %tight;
        color: color(primary);
        font-family: "IBM Plex Mono", monospace;
        text-align: center;
        position: relative;
        margin: 2%;
        font-size: 2vmax;
        @media only screen and (min-width: 768px){
          font-size: 1.2vmax;
        }
      }

      blockquote{
        position: relative;
        text-align: center;
        top: 0px;
        margin: 8%;
        display: inline-block;
      }

      img{
        border-radius: 50%;
        width: 50%;
        margin-top: 5%;
        z-index: -1;
        @media only screen and (min-width: 768px){
          margin-left: 3%;
          margin-right: 3%;
          margin-top: 4%;
          margin-bottom: auto;
          width: 30%;
          float: left;
        }
      }

      &::-webkit-scrollbar{
        width: 5px;
        opacity: .5;
      }
      &::-webkit-scrollbar-track{
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
        opacity: .5;
      }
      &::-webkit-scrollbar-thumb{
        background: black;
        border-radius: 10px;
        opacity: .5;
      }
    }

    #author2{
      img{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        @media only screen and (min-width: 768px){
          margin-top: 2%;
          margin-left: 3%;
          margin-right: 3%;
          margin-bottom: 3%;
          width: 24%;
          float: left;
        }
      }
    }
  }
}

#art2.sections{
  position: absolute;
  blockquote{
    text-align:right;
    right: 20px;
  }
  .container{
    .authorInfo{
      blockquote{
        text-align: center;
        margin-top: 5%;
      }
    }
  }
}

footer{
  @extend %flex-row;
  margin-top: auto;
  bottom:0;
  z-index: 400;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: color(secondary);
  padding:10px;
  font-size: 1.2vmax;
  @media only screen and (min-width: 768px){
    font-size: .6vmax;
  }
  p{
    font-family: "Hind Siliguri", sans-serif;
    text-align: right;
    color: color(accent);
    align-self: center;

  }

  span{
    background-color: color(secondary);
  }

  #user{
    @extend %flex-row;
    width: 10%;
    input{
      border: none;
      font-size: 1.2vmax;
      position: relative;
      width: 50%;
      height: auto;
      background-color: color(accent);
      @media only screen and (min-width: 768px){
        font-size: .6vmax;
      }
    }
  }
}
