@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri|IBM+Plex+Mono|Ovo|Tajawal");
.sections .container .authorInfo p, .sections .container .authorInfo, .sections .container blockquote, .sections, body,
html {
  margin: 0px;
  padding: 0px;
}

.sections .container .authorInfo, main {
  width: 100%;
  height: 100%;
}

footer #user, footer, header > div, header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main, body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body,
html {
  text-align: center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

body {
  height: 100vh;
  width: 100vw;
  z-index: -20;
  align-content: flex-start;
}

header {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  background-color: white;
  height: 15%;
  transition: all 1s ease;
  z-index: 500;
}
@media only screen and (min-width: 768px) {
  header {
    height: 8%;
  }
  header:hover {
    height: 10%;
  }
}
header span {
  background-color: black;
  padding-left: 50px;
}
header #logo {
  position: absolute;
  font-family: "Ovo", serif;
  font-size: 5vmax;
  color: #f8fb97;
  margin: 0;
  padding: 0;
  left: 10px;
  bottom: -20px;
  transition: color 1s ease-in-out;
}
header #logo span {
  padding-top: 500px;
}
header > div {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-self: center;
  right: 0;
  left: 0;
}
header a {
  z-index: 800;
  text-decoration: none;
  color: #f8fb97;
  text-align: right;
  font-size: 2.5vmax;
  font-family: "Tajawal", sans-serif;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 768px) {
  header a {
    font-size: 1.2vmax;
  }
}
header a span {
  padding: 0;
}

main {
  overflow: hidden;
  background-color: black;
  position: relative;
  justify-content: flex-start;
}

#art2 {
  background-image: url("./pgarden_summer1.jpg");
}

#art1 {
  background-image: url("./pgarden_fall1.jpg");
}

.sections {
  height: 75vh;
  width: 100vw;
  transition: all 0.5s ease;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .sections {
    height: 85vh;
  }
}
.sections a {
  text-decoration: none;
  color: yellow;
}
.sections > img {
  visibility: hidden;
  object-fit: cover;
  min-width: 1500px;
}
@media only screen and (min-width: 768px) {
  .sections > img {
    max-width: 100vw;
  }
}
.sections span {
  background-color: black;
}
.sections .container {
  position: absolute;
  width: 100vw;
  height: inherit;
  z-index: 200;
  top: 0;
}
.sections .container blockquote {
  position: absolute;
  color: white;
  font-size: 1.5vmax;
  font-family: "IBM Plex Mono", monospace;
  text-align: left;
  left: 2.5%;
  top: 40%;
  transition: all 0.5s ease;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .sections .container blockquote {
    font-size: 1.2vmax;
  }
}
.sections .container blockquote .author {
  color: yellow;
}
.sections .container .authorInfo {
  overflow-y: scroll;
  position: relative;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}
.sections .container .authorInfo p {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  position: relative;
  margin: 2%;
  font-size: 2vmax;
}
@media only screen and (min-width: 768px) {
  .sections .container .authorInfo p {
    font-size: 1.2vmax;
  }
}
.sections .container .authorInfo blockquote {
  position: relative;
  text-align: center;
  top: 0px;
  margin: 8%;
  display: inline-block;
}
.sections .container .authorInfo img {
  border-radius: 50%;
  width: 50%;
  margin-top: 5%;
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  .sections .container .authorInfo img {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 4%;
    margin-bottom: auto;
    width: 30%;
    float: left;
  }
}
.sections .container .authorInfo::-webkit-scrollbar {
  width: 5px;
  opacity: 0.5;
}
.sections .container .authorInfo::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  opacity: 0.5;
}
.sections .container .authorInfo::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  opacity: 0.5;
}
.sections .container #author2 img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .sections .container #author2 img {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 24%;
    float: left;
  }
}

#art2.sections {
  position: absolute;
}
#art2.sections blockquote {
  text-align: right;
  right: 20px;
}
#art2.sections .container .authorInfo blockquote {
  text-align: center;
  margin-top: 5%;
}

footer {
  margin-top: auto;
  bottom: 0;
  z-index: 400;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
  font-size: 1.2vmax;
}
@media only screen and (min-width: 768px) {
  footer {
    font-size: 0.6vmax;
  }
}
footer p {
  font-family: "Hind Siliguri", sans-serif;
  text-align: right;
  color: #f8fb97;
  align-self: center;
}
footer span {
  background-color: black;
}
footer #user {
  width: 10%;
}
footer #user input {
  border: none;
  font-size: 1.2vmax;
  position: relative;
  width: 50%;
  height: auto;
  background-color: #f8fb97;
}
@media only screen and (min-width: 768px) {
  footer #user input {
    font-size: 0.6vmax;
  }
}

/*# sourceMappingURL=output.css.map */
