@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri|IBM+Plex+Mono|Ovo|Tajawal");
.sections .container .authorInfo p, .sections .container .authorInfo, .sections .container blockquote, .sections, body,
html {
  margin: 0px;
  padding: 0px;
}

.sections .container .authorInfo, main {
  width: 100%;
  height: 100%;
}

footer, header > div, header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer #user, main, body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body,
html {
  text-align: center;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

body {
  height: 100vh;
  width: 100vw;
  z-index: -20;
  align-content: flex-start;
}

header {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  background-color: white;
  height: 15%;
  transition: all 1s ease;
  z-index: 500;
}
header:hover {
  height: 15%;
}
header span {
  background-color: black;
  padding-left: 50px;
}
header #logo {
  position: absolute;
  font-family: "Ovo", serif;
  font-size: 8vw;
  color: white;
  margin: 0;
  padding: 0;
  z-index: 800;
  left: 10px;
  bottom: -20px;
  transition: color 1s ease-in-out;
}
header #logo:hover {
  color: yellow;
}
header #logo span {
  padding-top: 500px;
}
header > div {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-basis: 80%;
  align-self: center;
  right: 0;
}
header a {
  margin: 10px;
  text-decoration: none;
  color: white;
  text-align: right;
  font-size: 5vw;
  font-family: "Tajawal", sans-serif;
  transition: all 0.5s ease;
}
header a:hover {
  color: #f8fb97;
}

main {
  overflow: hidden;
  background-color: black;
  position: relative;
  justify-content: flex-start;
}

.sections {
  position: absolute;
  height: 100%;
  width: 100vw;
  transition: all 1s ease;
}
.sections a {
  text-decoration: none;
  color: yellow;
}
.sections > img {
  width: 2150px;
}
.sections span {
  background-color: black;
}
.sections .container {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 200;
  top: 0;
}
.sections .container blockquote {
  position: absolute;
  color: white;
  font-size: 3vw;
  font-family: "IBM Plex Mono", monospace;
  text-align: left;
  left: 2.5%;
  top: 40%;
  transition: all 1s ease;
  z-index: 10;
}
.sections .container blockquote .author {
  color: yellow;
}
.sections .container .authorInfo {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}
.sections .container .authorInfo p {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  text-align: right;
  position: relative;
  padding-right: 15px;
  font-size: 0.8em;
  margin-bottom: 15px;
  margin-top: 10px;
}
.sections .container .authorInfo blockquote {
  margin-top: 20px;
  margin-right: 100px;
  text-align: right;
}
.sections .container .authorInfo img {
  border-radius: 50%;
  width: 32%;
  margin-left: 10px;
  margin-top: 7%;
  float: left;
  z-index: -1;
}
.sections .container #author2 {
  padding-top: 11%;
}
.sections .container #author2 img {
  width: auto;
  margin-left: 50px;
}

#art2.sections {
  position: absolute;
}
#art2.sections blockquote {
  padding-right: 20px;
  padding-left: 0px;
  right: 0;
}

#art2 blockquote {
  text-align: right;
}

#art2.authorInfo {
  position: relative;
}

footer {
  margin-top: auto;
  bottom: 0;
  height: 15%;
  z-index: 400;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: black;
  padding: 5%;
}
footer p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 2.8vw;
  text-align: right;
  color: #f8fb97;
  align-self: center;
}
footer span {
  background-color: black;
}
footer #user input {
  position: relative;
  left: 40%;
  width: 50%;
  font-size: 3vw;
  background-color: #f8fb97;
}

/*# sourceMappingURL=output.css.map */
